.password-container {
    position: relative;
}

.password-input {
    width: 100%;
    padding: 1px 0;
    text-indent: 7px;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
}