.password-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
}

.password-input-wrapper {
    position: relative;
    width: 100%;
}

.password-input {
    width: 100%;
    padding: 0;
    text-indent: 12px;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
}