.forgot-password-container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.forgot-password-email-container,
.registration-password-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.forgot-password-container .instruction {
    text-align: center;
}