.forgot-password-container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.forgot-password-wrapper {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    width: 70%;
    min-width: 250px;
}

.forgot-password-title {
    font-size: 24px;
    font-weight: 600;
}

.forgot-password-email-container,
.registration-password-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.send-reset-link,
.return-to-login {
    width: 100%;
}

.return-to-login {
    padding: 0;
}

.forgot-password-container .instruction {
    text-align: center;
}