.forgot-password-container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.forgot-password-email-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    margin-top: 70px;
}
