.form-container {
    background-color: #3c3d80;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 95vw;
    max-width: 1300px;
    border-radius: 10px;
}

.form-wrapper {
    display: flex;
    width: 90%;
    height: 90%;
    border-radius: 20px;
    background-color: #f8f8f8;
    overflow: hidden;
    box-shadow: 0px 0px 8px 2px;
}

.form-image-wrapper {
    border-radius: 20px 0 0 20px;
    overflow: hidden;
    width: auto;
    max-width: 40%;
}

.form-image {
    height: 100%;
}

.form-image-horizontal {
    display: none;
}

.form-structure {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form-header {
    font-size: 24px;
    font-weight: 600;
    width: 70%;
    min-width: 250px;
}

.form-body {
    width: 70%;
    min-width: 250px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-body-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.form-instruction {
    text-align: center;
    font-size: 12px;
    margin: 10px 0;
}

@media (max-width: 480px) {
    .form-wrapper {
        flex-direction: column;
        height: 95%;
    }

    .form-image-wrapper {
        max-width: 100%;
        border-radius: 20px 20px 0 0;
    }

    .form-image {
        display: none;
    }

    .form-image-horizontal {
        display: block;
        width: 100%;
        background-size: cover;
    }
}

@media (max-width: 480px),
(max-height: 375px) and (orientation: landscape) {
    .form-structure {
        justify-content: flex-start;
        max-height: 580px;
        overflow: scroll;
    }

    .form-structure::-webkit-scrollbar {
        display: none;
    }

    .form-header {
        font-size: 18px;
    }

    .form-body {
        gap: 5px;
    }
}

@media (max-height: 375px) and (orientation: landscape) {
    .form-body {
        min-height: 200px;
    }
}