.login-container {
    height: 100dvh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.registration-question,
.login-email-container,
.password-validation,
.registration-password-container {
    width: 100%;
}

.registration-question {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding: 20px 0;
}

.login-email-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.password-validation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    font-size: 14px;
    padding: 20px 0;
}

.remember-me-container {
    display: flex;
    align-items: center;
}

.remember-me-label {
    padding: 0 5px;
}

.login-button {
    width: 100%;
}

@media (max-width: 480px) {
    .login-container {
        align-content: flex-start;
        margin: 40px 0;
    }
}

@media (max-height: 730px) and (orientation: landscape) {
    .login-container {
        margin: 20px 0;
    }
}