.add-titles-by-scanning-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-titles-by-scanning-wrapper {
    height: 100%;
    padding-top: 20px;
    width: 70%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
}

.add-titles-by-scanning-title {
    font-size: 24px;
    font-weight: 600;
}

.method-toggle {
    height: 70%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.options-decoration {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 2rem 0;
}

.options-decoration hr {
    flex: 1;
    border: none;
    border-top: 1px solid #ccc;
    height: 0;
    margin: 0;
}

.options-decoration span {
    font-weight: 500;
    color: #666;
    white-space: nowrap;
}

.scanner-unavailable-message {
    color: gray;
    font-family: 'italic';
    margin-bottom: 1rem;
    text-align: center;
}

.method-toggle button {
    width: auto;
    padding: 0 10px;
}

.scanner-container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scanner-container p {
    text-align: center;
}

.scanner-display {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.manual-isbn-input {
    width: 100%;
    height: 30%;
}

.manual-isbn-input label {
    display: block;
    margin-bottom: 6px;
}

.manual-isbn-input input {
    width: calc(100% - 14px);
}

.manual-entry {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-titles-by-scanning-wrapper .error {
    height: 30px;
    text-align: center;
    margin: 15px 0;
}

.scanned-book {
    margin-top: 20px;
}

.scanned-book-details {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.scanned-book-details img {
    height: 120px;
}

.scanned-title {
    margin: 10px 0;
}