.options-decoration {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 2rem 0;
}

.options-decoration hr {
    flex: 1;
    border: none;
    border-top: 1px solid #ccc;
    height: 0;
    margin: 0;
}

.options-decoration span {
    font-weight: 500;
    color: #666;
    white-space: nowrap;
}

.method-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    height: 200px;
    margin: 3rem 0;
}

.scanner-unavailable-message {
    color: gray;
    font-family: 'italic';
    margin-bottom: 1rem;
    text-align: center;
}

.scanner-container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scanner-container p {
    text-align: center;
}

.scanner-display {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.manual-isbn-input {
    width: 100%;
    min-height: 150px;
    margin: 70px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.manual-isbn-input-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.manual-isbn-input input {
    width: 100%;
    text-indent: 12px;
    padding: 0;
}

.manual-entry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-titles-by-scanning-wrapper .error {
    height: 30px;
    text-align: center;
    margin: 15px 0;
}

.scanned-book {
    margin: 30px 0;
}

.scanned-book-details {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 200px;
}

.scanned-book-details img {
    height: 120px;
}

.scanned-book-details .no-image {
    height: 80px;
    margin: 20px 0;
}

.scanned-title {
    margin: 10px 0;
}

.scanner-wrapper {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 1rem auto;
    border-radius: 12px;
    overflow: hidden;
}

.scanner-video {
    width: 100%;
    height: 240px;
    object-fit: cover;
    background-color: black;
    border-radius: 12px;
}

.focus-frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 30%;
    transform: translate(-50%, -50%);
    border: 2px dashed rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    pointer-events: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}