.my-account-container {
    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-name-container,
.last-name-container,
.email-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    border-bottom: 1px solid #3c3d80;
}

.user-first-name,
.user-last-name,
.user-email {
    padding: 6px 0;
    font-size: 13px;
}

.user-first-name-input,
.user-last-name-input,
.user-email-input {
    border: 0;
    padding: 0;
    border-radius: 5px 5px 0 0;
    background-color: #fff;
    font-size: 13px;
}

.user-first-name-input:focus,
.user-last-name-input:focus,
.user-email-input:focus {
    outline: none;
    box-shadow: 0 -2px 0 0 #3c3d80 inset;
}