.title-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    height: 160px;
    background-color: #f8f8f8;
}

.title-item-container .decoration {
    width: 10px;
    height: 100%;
    border-radius: 5px 0 0 5px;
}

.title-details {
    width: calc(100% - 180px);
    height: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-item-name {
    height: calc(100% - 40px);
    margin-top: 8px;
    display: flex;
    justify-content: flex-start;
}

.index {
    padding: 0;
}

.filename {
    font-weight: 600;
    overflow-wrap: break-word;
}

.title-item-container hr {
    width: 60%;
}

.other-details {
    height: 40px;
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.title-only {
    width: calc(100% - 180px);
    height: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.title-item-name-only {
    height: calc(100% - 50px);
    display: flex;
    justify-content: flex-start;
}

.no-details {
    display: none;
}

.title-only span {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {

    .title-details,
    .title-only {
        width: calc(100% - 80px);
    }

    .filename {
        font-size: clamp(12px, 2vw, 24px);
    }
}