.title-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    height: 160px;
    background-color: #f8f8f8;
}

.title-item-container .decoration {
    width: 10px;
    height: 100%;
    border-radius: 5px 0 0 5px;
}

.title-details {
    width: calc(100% - 180px);
    height: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-item-name {
    height: calc(100% - 60px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 16px 0;
}

.title-item-name>span.index {
    padding: 0;
}

.title-item-name>span.filename {
    word-break: break-word;
    overflow-wrap: anywhere;
}

.title-item-container hr {
    width: 60%;
}

.title-details>div.other-details {
    height: 40px;
    display: flex;
    align-items: center;
    margin: 8px 0;
    width: 100%;
}

.title-only {
    width: calc(100% - 180px);
    height: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.title-item-name-only {
    height: calc(100% - 180px);
    display: flex;
    justify-content: flex-start;
}

.no-details {
    display: none;
}

.title-only span {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {

    .title-details,
    .title-only {
        width: calc(100% - 52px);
    }
}

@media (max-width: 480px),
(max-height: 375px) and (orientation: landscape) {
    .title-item-container {
        height: 120px;
    }

    .title-item-name-only>span.filename,
    .title-item-name>span.filename,
    .title-item-name>span.index,
    .title-details>div.other-details {
        font-size: 12px;
    }
}