.add-titles-manually-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-titles-manually-wrapper {
    height: 100%;
    padding-top: 20px;
    width: 70%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-titles-manually-title {
    font-size: 24px;
    font-weight: 600;
}

.add-titles-manually-input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70%;
    padding: 15px 0;
}

.title-container,
.type-container,
.genre-container,
.book-container,
.manga-container,
.seasons-container,
.episodes-container,
.otaku-list-select {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.anime-container {
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-length {
    display: flex;
    justify-content: space-between;
}

.seasons-number,
.episodes-number {
    width: 48%;
}

.add-titles-manually-container .list-instruction {
    font-size: 13px;
    margin-top: 0;
}

.add-titles-manually-container .instruction {
    text-align: center;
    font-size: 12px;
    padding-bottom: 5px;
}

.add-titles-manually-wrapper .buttons-container {
    display: flex;
    align-items: center;
}

.add-titles-manually-container > div.floating-error {
    padding: 10px 15px;
}