.add-titles-manually-input-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title-container,
.type-container,
.genre-container,
.book-container,
.manga-container,
.seasons-container,
.episodes-container,
.otaku-list-select {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.title-length {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.seasons-number,
.episodes-number {
    width: 48%;
}