.otaku-lists-wrapper {
    height: 80vh;
    display: flex;
    flex-direction: column;   
    justify-content: center; 
    width: 90vw;
    max-width: 1300px;
    min-width: 250px;
    background-color: #ededed;
    border-radius: 10px;
    position: relative;
}

.list-link {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.list-link:visited {
    color: black !important;
}

.list-link:active {
    color: inherit;
    text-decoration: none;
    cursor: default;
}

.list-details-container {
    width: calc(100% - 100px);
    display: flex;
    justify-content: space-between;
}

.otaku-lists-button {
    width: 100%;
    position: absolute;
    top: 0;
    border-radius: 5px 5px 0 0;
}

.otaku-lists {
    height: calc(100% - 86px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6px;
}

.no-lists {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.no-lists-image {
    width: 200px;
    height: 200px;
    margin: 10px 0;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.no-lists p {
    font-weight: 600;
}