.otaku-lists-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.otaku-lists-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90vw;
    max-width: 1300px;
    background-color: #ededed;
    border-radius: 10px;
    position: relative;
    min-height: 730px;
}

.list-link {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.list-link:visited {
    color: black !important;
}

.list-link:active {
    color: inherit;
    text-decoration: none;
    cursor: default;
}

.list-details-container {
    width: calc(100% - 50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-otaku-lists-button {
    width: 100%;
    position: absolute;
    top: 0;
    border-radius: 5px 5px 0 0;
}

.otaku-lists {
    height: calc(100% - 60px);
    margin-top: 44px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6px;
}

.list-name-input {
    width: calc(100% - 100px);
    border: 0;
    border-radius: 5px 5px 0 0;
    background-color: #fff;
    border-bottom: 1px solid #3c3d80;
}

.list-name-input:focus {
    outline: none;
    box-shadow: 0 -2px 0 0 #3c3d80 inset;
}

.no-lists {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.no-lists-image {
    width: 200px;
    height: 200px;
    margin: 10px 0;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.no-lists p {
    font-weight: 600;
}

.list-buttons-container {
    width: 82px;
    display: flex;
    justify-content: space-between;
}

.delete-list,
.save-list-name,
.edit-list-name {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
}

.delete-list img,
.save-list-name img,
.edit-list-name img {
    width: 20px;
}

.delete-list,
.delete-list:hover {
    background-color: #9f4c4c;
}

.save-list-name,
.save-list-name:hover {
    background-color: #699f4c;
}

.edit-list-name,
.edit-list-name:hover {
    background-color: #7ed0ec;
}

.otaku-lists-wrapper .no-results {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

@media (max-width: 480px),
(max-height: 375px) and (orientation: landscape) {
    .list-details-container {
        width: calc(100% - 50px);
    }

    .list-buttons-container {
        width: 68px;
    }

    .delete-list,
    .save-list-name,
    .edit-list-name {
        width: 32px;
        height: 32px;
    }
}