.randomizer-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.randomizer-inner-container {
    height: 85vh;
    background-color: #3c3d80;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    max-width: 1300px;
    border-radius: 10px;
}

.randomizer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 90%;
    border-radius: 20px;
    background-color: #f8f8f8;
    overflow: hidden;
    box-shadow: 0px 0px 8px 2px;
    position: relative;
}

.randomizer-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.randomizer-list-selection {
    width: 100%;
    margin: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.randomizer-list-selection select {
    width: 90%;
    height: 40px;
    text-align: center;
}

.randomizer-list-selection hr {
    width: 90%;
}

.randomizer-titles-list,
.randomizer-display {
    width: 50%;
    height: 90%;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.randomizer-display {
    justify-content: center;
    align-items: center;
}

.randomizer-wrapper hr {
    height: 85%;
}

.randomizer-list-selection hr {
    height: 0;
}

.randomizer-titles-list,
.randomizer-list-selection {
    overflow: scroll;
    font-size: 14px;
    height: 85%;
}

.randomizer-titles-list::-webkit-scrollbar,
.randomizer-list-selection::-webkit-scrollbar {
    display: none;
}

.randomizer-display-header {
    font-weight: 600;
    font-size: 20px;
    margin: 15px 0;
}

.title-info-randomizer .title {
    width: 100%;
    font-size: 13px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.randomizer-icon {
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin: 10px 0;
}

.title-info-randomizer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.randomizer-title-container {
    width: calc(100% - 12px);
    height: auto;
    margin: 3px;
    display: flex;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.randomizer-title-container .decoration {
    background-color: blue;
    width: 10px;
    border-radius: 10px 0 0 10px;
}

.element-index {
    padding: 0;
}

[class^="randomizer-element"] {
    width: calc(100% - 30px);
    padding: 5px 10px;
    min-height: 60px;
    overflow-wrap: break-word;
    display: flex;
    align-items: center;
}

[class^="randomizer-element"] span {
    width: calc(100% - 30px);
}

.select-another-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 10px 10px;
}

@media (max-width: 480px),
(max-height: 375px) and (orientation: landscape) {
    .randomizer-wrapper {
        flex-direction: column;
        height: 75vh;
    }

    .randomizer-display {
        height: 30%;
    }

    .randomizer-titles-list {
        justify-content: flex-start;
        margin-bottom: 35px;
    }

    .randomizer-titles-list,
    .randomizer-display,
    .randomizer-wrapper hr {
        width: calc(100% - 40px);
    }

    .randomizer-wrapper hr {
        height: 0;
    }

    .randomizer-icon {
        display: none;
    }

    .title-info-randomizer div {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    [class^="randomizer-element"] {
        width: calc(100% - 30px);
    }

    .select-another-list {
        width: 100%;
    }
}