.library-lists-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    width: 100%;
    font-size: 13px;
}

.tab-container {
    margin: 10px 0;
    width: 90vw;
    max-width: 1300px;
    background-color: #ededed;
    height: 60px;
    border-radius: 5px;
    font-weight: 600;
    display: flex;
}

.tab-item {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 50%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-item.active {
    background-color: #e74c3c;
    color: #fff;
}

@media (max-width: 480px),
(max-height: 375px) and (orientation: landscape) {
    .tab-container {
        height: 40px;
    }
}