.registration-container {
    height: 100dvh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.registration-name {
    display: flex;
    justify-content: space-between;
}

.registration-first-name-container,
.registration-last-name-container {
    display: flex;
    flex-direction: column;
    width: 48%;
    gap: 6px;
}

.registration-email-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.registration-terms,
.go-to-login {
    font-size: 12px;
}

.registration-name,
.registration-email-container,
.registration-repeat-password-container,
.registration-button {
    width: 100%;
}

@media (max-width: 480px) {

    .registration-terms,
    .go-to-login {
        margin: 6px 0;
    }

    .registration-container {
        align-content: flex-start;
        margin: 40px 0;
    }
}

@media (max-height: 730px) and (orientation: landscape) {
    .registration-container {
        margin: 20px 0;
    }
}