.App {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.btn {
    background-color: #151e72;
    color: #fff;
    border-radius: 30px;
    height: 36px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    user-select: none;
}

.link {
    text-decoration: none;
}

.link:visited {
    color: black;
}

label {
    font-size: 13px;
}

input {
    height: 25px;
    padding: 1px 7px;
    border-radius: 5px;
    border: 1px solid;
}

select {
    height: 30px;
    padding: 1px 7px;
    border-radius: 5px;
    border: 1px solid;
}

.error,
.success {
    font-size: 12px;
    height: 30px;
    font-weight: 600;
    display: inline-block;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    color: red;
}

.success {
    color: green;
}

.buttons {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 10px 0;
}

.floating-error {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3498db;
    color: white;
    max-width: 600px;
    width: 90vw;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    font-size: 16px;
    text-align: center;
    animation: fadeIn 0.3s ease-out, fadeOut 0.5s ease-in 4.5s forwards;
    padding: 10px 15px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 490px) {

    span,
    label {
        font-size: 12px;
    }

    .floating-error {
        font-size: 9px;
    }

    .buttons {
        width: 250px;
    }

    .btn {
        height: 25px;
        font-size: 11px;
    }
}

@media only screen and (max-height: 375px) {

    span,
    label {
        font-size: 12px;
    }
}